@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html{
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.neon-white{
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
                 0 0 20px rgba(255, 255, 255, 0.6),
                 0 0 30px rgba(255, 255, 255, 0.4),
                 0 0 40px rgba(255, 255, 255, 0.2);
}
.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Remove input spinner (increment/decrement) */
.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-arrows {
  -moz-appearance: textfield; /* Firefox */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: none; /* Hidden by default */
}

/* Show overlay when the cart is open */
.overlay.active {
  display: block;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
 

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trending-swiper .swiper-slide {
  display: flex;
  align-items: stretch;
}

.trending-swiper .swiper-slide > a {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.swiper-button-prev, 
.swiper-button-next {
  color: #ccc !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 28px !important;
  font-weight: 900;
}

.swiper-hover .swiper-button-prev,
.swiper-hover .swiper-button-next {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Show navigation buttons on hover */
.swiper-hover:hover .swiper-button-prev,
.swiper-hover:hover .swiper-button-next {
  opacity: 1;
}


.swiper-container-2 .custom-prev-2,
.swiper-container-2 .custom-next-2 {
  color: red;
  font-size: 28px;
}

.swiper-pagination-bullet {
  background-color: #ffffff !important;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: background-color 0.3s, transform 0.3s;
}

/* Custom active bullet */
.swiper-pagination-bullet-active {
  background-color: #0FF0FC !important;
  transform: scale(1.2);
}

